* {
    margin: 0;
    padding: 0;
}

.container {
    
   
    display: inline-flex;
    padding: 1%;
    margin-top: 0px;
    font-size: medium;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul,
li {
    display: inline-flex;
    margin-left: 0%;
}

li:hover {
    color: rgb(252, 47, 183);
}

.box1 {
    
    margin-top: 6%;
    margin-left:6%;
    color: white;
    display: inline-block;
    width: 520px;
}

.box2 {
    display: inline-block;
    margin-left: 5.9%;
    height:"300px";
    background-color: white;
     width:"330px";
}

.item-1 {
    display: inline-flex;
    align-items: center;
  
    font-size: 16px;
    width: 760px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.item-2 {
    font-size: 13px;
    display: inline-flex;
   font-family: 'Times New Roman', Times, serif;
    justify-content: space-around;
    align-items: center;
    
    width: 350px;
}

.item-3 {
    align-items: center;
     margin-left: 7px;
    display: inline-flex;
    width: 500px;
}

button {
    background-color: rgb(252, 47, 183);
    height: 28px;
    width: 80px;
    border-radius: 4px;
    color: white;
    border-color: rgb(252, 47, 183);
}

.products {
    background-image: url("child.jpg"); 
    background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100%; 
    display: block;
    
   
}

h2 {
    text-align: left;
    width: 300px;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

main {
    text-align: justify;
    margin-top: 5%;
    height: 80px;
    width: 520px;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace
}
