*{
    margin: 0;
    padding: 0;

}
h2{
   display: inline-flex;
   margin-top: 2%;
   margin-left: 6%;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav{
    display:inline-flex;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul,li{
    display: inline-flex;
    width: 20%;
    margin-left: 20%;
    justify-content: space-between;
}
h3{
    margin-top: 0%;
    display: inline-flex;
    margin-left: 80%;
   
    padding: 20px;
    background-color: violet;
    color: white;
}
h5{
    background-color: violet;
    margin-top: 5%;
   display: inline-block;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    color: white;

}
h4{
     background-color:rgb(241, 211, 241);
    margin-top: 5%;
   display: inline-block;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    color: violet;


}
.box{
    
    
    display:inline-block;
    width:500px;
}
.products{
    margin-top: 8%;
    text-align: center;}
    h2{
        font-size: xx-large;
        font-family: 'Times New Roman', Times, serif;
    }
    p{
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }